*{
	margin:0;
	padding:0;
	font-family: Century Gothic;
}

html { 
  background: white ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
	height: auto;
	padding:5px;
	background-size:cover;
	width: 100%;
	background: rgba(0, 37, 80, 0.7);

	
}

.logo img{
	width: 130px;
	margin-top: 10px;
	float:left;
	padding: 10px;
	height: auto;
}

.header h1 {
	color: #fff;
	float:left;
	padding: 30px;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.navigation ul{
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 3000px;
	float: right;                                                                                                                   
	list-style-type: none;
	
}


.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	text-decoration: none;
	color: #DAA520;
	padding: 5px 20px;
	margin-right: 20px;
	border: 1px solid #DAA520;
	transition: 0.6s ease;
}

.navigation ul li a:hover{
	background-color: #DAA520;
	color: #000;
}

.navigation
{
	background: rgba(0, 0, 0, 0.7);
	background-size: cover;
	width: 100%;
	padding: 5px;
	border-top-color: black;
	border-bottom-color: black;
	
}

.navigation h1 {
	margin-left:10px;
	float:left;
	color:white;
	font-size: 20px;
}

.navigation::after {
  content: "";
  clear: both;
  display: table;
}


.column {
	padding: 30px;
	margin-left: 70px;
	margin-top: 40px;
	float:left;
	width: 40%;
	height: 90%;
	overflow-y:auto;
	overflow-x:auto;

}

	
.second {
	padding: 30px;
	overflow-y: auto;
	overflow-x:auto;
	margin-top: 40px;
	height: 90%;
	float:left;
	width: 40%;
	

}

table.b {
	margin-top: 10px;
    border-spacing: 2px;
	width:100%;
    padding: 10px;
	text-align:center;
}

table.scroll{
	margin-top: 10px;
	border-spacing: 2px;
	width:100%;
	padding: 10px;
	text-align:center;
}

table.scroll tbody, table.scroll thead{
	display: block;
}

table.scroll tbody{
	height: 50vh;
	overflow-y: auto;
}

table.scroll tbody td, table.scroll thead th{
	width: 20%;
}

table.scroll, th, td{
	border: 1px solid #DAA520;
	border-collapse: collapse;
	color: #DAA520;
}

table.b, th, td {
	border: 1px solid #DAA520;
	border-collapse: collapse;
	color: #DAA520;
}

th {
	padding: 10px;
}

.second table tr td a {
	color: black;
}

.addcourse {
	margin-top: 10px;
	float:right;
}

.upload{
	margin-top: 10px;
	float:right;
	margin-right: 20px;
}

button {
	margin-top: 10px;
	border-style: solid;
	border-width:1px;
	border-color: rgba(0, 37, 80, 0.7);;
	background-color:white;
	color: rgba(0, 37, 80, 0.7);
	transition: 0.6s ease;
	margin-bottom: 10px;
	padding: 5px;
}

button:hover {
	color:white;
	background-color:rgba(0, 37, 80, 0.7);;
}

.deletebtn{
	margin-top: 10px;
	border-style: solid;
	border-width:1px;
	border-color: red;
	background-color:white;
	color:red;
	transition: 0.6s ease;
	padding: 5px;
	margin-bottom: 10px;

}

.deletebtn:hover {
	color:white;
	background-color:red;
}
