<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Admin</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <style>
        .tab{
            border: 1px solid black;
            column-gap: 120px;
            padding: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Root</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="header">
    <div class="logo"><img th:src="@{/img/icon.svg}"></div>
    <h1>Wossomotta University</h1>
</div>
<div class="navigation">
    <ul>
        <li><a href="/logout">LOG OUT</a></li>
    </ul>
</div>
    <div>
        <h4 style="margin: 10px">Course Catalog:</h4>
        <table class="scrolling">
            <tr>
                <th>Dept. Id</th>
                <th>Course Number</th>
                <th>Course Title</th>
                <th></th>
                <th></th>
            </tr>

            <th:block th:each="course: ${courses}">
                <tr>
                    <td th:text="${course.getDeptId()}"></td>
                    <td th:text="${course.getCourseNumber()}"></td>
                    <td><a th:href="@{'/course?courseId=' + ${course.getCourseid()}}" th:text="${course.getCourseTitle()}" style="text-decoration: none; color: black"></a></td>
                    <td>
                        <a th:href="@{'/editCourse?courseId=' + ${course.getCourseid()}}">
                            <button class="button">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteCourse?courseId=' + ${course.getCourseid()}}">
                            <button class="deletebtn">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <a th:href="@{'/addCourse'}">
            <button  class="button addcourse">ADD COURSE</button>
        </a>
        <a th:href="@{'/uploadCourseFile'}">
            <button  class="button upload">UPLOAD COURSE FILE</button>
        </a>
        <a th:href="@{'/uploadSectionFile'}">
            <button  class="button upload">UPLOAD SECTION FILE</button>
        </a>
    </div>
</body>
</html>