<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>View Course</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/course.css}"/>
    <style>
        p{
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="logo"><img th:src="@{/img/icon.svg}"></div>
    <h1>Wossomotta University</h1>
</div>
<div class="navigation">
    <ul>
        <li><a href="/logout">LOG OUT</a></li>
    </ul>
</div>
    <div>
        <h6 th:text="'Dept. Id: ' + ${course.getDeptId()} " style="margin-left: 10px; margin-top: 10px; color: #DAA520; font-weight: bold"></h6>
        <h6 th:text="'Course No: ' + ${course.getCourseNumber()} " style="margin-left: 10px; color: #DAA520; font-weight: bold"></h6>
        <h6 th:text="'Course Title: ' + ${course.getCourseTitle()} " style="margin-left: 10px; color: #DAA520; font-weight: bold"></h6>
        <table class="scrolling" id="myTable">
            <tr>
                <th>Section No</th>
                <th>Instructor</th>
                <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
                <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
            </tr>
            <th:block th:each="section: ${sections}">
                <tr>
                    <td><a th:href="@{'/section?sectionId=' + ${section.getSectionid()}}" th:text="${section.getSectionNumber()}" style="text-decoration: none; color: black"></a></td>
                    <td th:text="${section.getInstructor()}"></td>
                    <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                        <a th:href="@{'/editSection?sectionId=' + ${section.getSectionid()}}">
                            <button class="button">Edit</button>
                        </a>
                    </td>
                    <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                        <a th:href="@{'/deleteSection?sectionId=' + ${section.getSectionid()}}">
                            <button class="deletebtn">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <script type="text/javascript">
            $(document).ready(function() {
                var table = document.getElementById("myTable");
                if (table.rows[0].cells.length <= 2) {
                    table.classList.remove("scrolling");
                    table.classList.add("scrollingq");
                }
            });
        </script>
        <a sec:authorize="hasAnyRole('ROOT','ADMIN')" th:href="@{'/addSection?courseId='+ ${course.getCourseid()}}" style="float: right;margin-top: 10px; margin-right: 10px">
            <button class="button">Add Section</button>
        </a>
    </div>
</body>
</html>