<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>View Course</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <style>
        body{
            padding: 10px;
        }
        .tab{
            border: 1px solid black;
            column-gap: 120px;
            padding: 10px;
        }
        p{
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
    </style>
</head>
<body>
    <a style="float: right;margin-right: 20px;" href="/logout">Logout</a>
    <div>
        <h6 th:text="'Dept. Id: ' + ${course.getDeptId()} "></h6>
        <h6 th:text="'Course No: ' + ${course.getCourseNumber()} "></h6>
        <h6 th:text="'Course Title: ' + ${course.getCourseTitle()} "></h6>
        <table class="tab" style="width: 100%">
            <tr>
                <th>Section No</th>
                <th>Instructor</th>
                <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
                <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
            </tr>

            <th:block th:each="section: ${sections}">
                <tr>
                    <td><a th:href="@{'/section?sectionId=' + ${section.getSectionid()}}" th:text="${section.getSectionNumber()}" style="text-decoration: none; color: black"></a></td>
                    <td th:text="${section.getInstructor()}"></td>
                    <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                        <a th:href="@{'/editSection?sectionId=' + ${section.getSectionid()}}">
                            <button class="btn btn-primary mb-2">Edit</button>
                        </a>
                    </td>
                    <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                        <a th:href="@{'/deleteSection?sectionId=' + ${section.getSectionid()}}">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <a sec:authorize="hasAnyRole('ROOT','ADMIN')" th:href="@{'/addSection?courseId='+ ${course.getCourseid()}}" style="float: right;margin-top: 10px;">
            <button class="btn btn-outline-primary mb-2">Add Section</button>
        </a>
    </div>
</body>
</html>