<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Schedule Planner</title>
		<th:if sec:authorize="hasRole('ADMIN')">
			<meta http-equiv="refresh" content="0;URL=/admin">
		</th:if>
		<th:if sec:authorize="hasRole('ROOT')">
			<meta http-equiv="refresh" content="0;URL=/root">
		</th:if>
		<th:if sec:authorize="hasRole('STUDENT')">
			<meta http-equiv="refresh" content="0;URL=/student">
		</th:if>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<header>
		<div class="main">
		<div class="logo">
		<img th:href="@{/img/logo.png}">
		</div>
			<ul>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			</ul>
		</div>
		<div class="title">
		<h1>WOSSAMOTTA U</h1>
		<br>
		<p>I can see at a glance you're brainy. Why don't you sign in?</p>
		</div>
		</header>
	</body>
</html>