<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <style>
        body{
            padding: 10px;
        }
        .b{
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <a style="float: right; margin-right: 20px;" href="/logout">Logout</a>
    <div>
        <h6>Active request queue:</h6>
        <table style="width: 100%;" class="b" th:if="${requests.size() > 0}">
            <tr>
                <th>Username: </th>
                <th>Access Level: </th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="request: ${requests}">
                <tr>
                    <td th:text="${request.getUsername()}"></td>
                    <td th:text="${request.getRoles()}"></td>
                    <td>
                        <a th:href="@{'/activate?username=' + ${request.getUsername()}}">
                            <button class="btn btn-primary mb-2">Activate</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/delete?username=' + ${request.getUsername()}}">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <p th:unless="${requests.size() > 0}">
            There are no active requests!
        </p>
    </div>
    <div style="margin-top: 20px">
        <h6>Course Catalog:</h6>
        <table style="width: 100%;" class="b">
            <tr>
                <th>Dept. No</th>
                <th>Course Number</th>
                <th>Course Title</th>
                <th></th>
                <th></th>
            </tr>

            <th:block th:each="course: ${courses}">
                <tr>
                    <td th:text="${course.getDeptId()}"></td>
                    <td th:text="${course.getCourseNumber()}"></td>
                    <td><a th:href="@{'/course?courseNum=' + ${course.getCourseNumber()}}" th:text="${course.getCourseTitle()}" style="text-decoration: none; color: black"></a></td>
                    <td>
                        <a th:href="@{'/editCourse?courseNum=' + ${course.getCourseNumber()}}">
                            <button class="btn btn-primary mb-2">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteCourse?courseNum=' + ${course.getCourseNumber()}}">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>