<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>View Section</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/section.css}"/>
    <style>
        p{
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="logo"><img th:src="@{/img/icon.svg}"></div>
    <h1>Wossomotta University</h1>
</div>
<div class="navigation">
    <ul>
        <li><a href="/logout">LOG OUT</a></li>
    </ul>
</div>
<div>
    <h6 th:text="'Section No: ' + ${section.getSectionNumber()} " style="margin-left: 10px; margin-top: 10px; color: #DAA520; font-weight: bold"></h6>
    <h6 th:text="'Instructor: ' + ${section.getInstructor()} " style="margin-left: 10px; color: #DAA520; font-weight: bold"></h6>
    <table class="scrolling" id="myTable">
        <tr>
            <th>Meeting Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
            <th sec:authorize="hasAnyRole('ROOT','ADMIN')"></th>
        </tr>

        <th:block th:each="meetingTime: ${meetingTimes}">
            <tr>
                <td th:text="${meetingTime.getDay()}"></td>
                <td th:text="${meetingTime.getStartTime()}"></td>
                <td th:text="${meetingTime.getEndTime()}"></td>
                <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                    <a th:href="@{'/editMeetingtime?meetingId=' + ${meetingTime.getMeetingId()}}">
                        <button class="button">Edit</button>
                    </a>
                </td>
                <td sec:authorize="hasAnyRole('ROOT','ADMIN')">
                    <a th:href="@{'/deleteMeetingtime?meetingId=' + ${meetingTime.getMeetingId()}}">
                        <button class="deletebtn">Delete</button>
                    </a>
                </td>
            </tr>
        </th:block>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            var table = document.getElementById("myTable");
            if (table.rows[0].cells.length <= 3) {
                table.classList.remove("scrolling");
                table.classList.add("scrollingz");
            }
        });
    </script>
    <a sec:authorize="hasAnyRole('ROOT','ADMIN')" th:href="@{'/addMeetingtime?sectionId=' + ${section.getSectionid()}}" style="float: right;margin-top: 10px; margin-right: 10px">
        <button class="button">Add Meeting Time</button>
    </a>
</div>
</body>
</html>