<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Student</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            padding: 10px;
        }
        .tab{
            border: 1px solid black;
            column-gap: 120px;
            padding: 10px;
        }
        input[type=checkbox]{
            transform: scale(1.5);
            margin-left: 10px;
        }
    </style>
</head>
<body>

    <a style="float: right; margin-right: 20px;" href="/logout">Logout</a>
    <div>
        <h6>Course Catalog:</h6>
        <table class="tab" style="width: 100%">
            <tr>
                <th style="margin-left: 10px">Select</th>
                <th>Dept. Id</th>
                <th>Course Number</th>
                <th>Course Title</th>
            </tr>

            <th:block th:each="course: ${courses}">
                <tr>
                    <td style="margin-left: 10px;"><input type="checkbox" class="includePCheck" th:value="${course.getCourseNumber()}"></td>
                    <td th:text="${course.getDeptId()}"></td>
                    <td th:text="${course.getCourseNumber()}"></td>
                    <td><a th:href="@{'/course?courseNum=' + ${course.getCourseNumber()}}" th:text="${course.getCourseTitle()}" style="text-decoration: none; color: black"></a></td>
                </tr>
            </th:block>
        </table>
        <button class="btn btn-outline-primary mb-2 pcourse" style="float: right;margin-top: 10px;" onclick="">Add Possible Courses</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.pcourse').click(function (e) {
                e.preventDefault();
                var x = $('.includePCheck:checked');
                var courses = [];
                for (let input of x){
                    courses.push(input.value);
                }
                console.log(courses);
                var courseNum = courses.join(',');
                window.location.href = ("http://localhost:8080/addPCourse?courseNum=" + courseNum);
            });
            $('.dcourse').click(function (e) {
                e.preventDefault();
                var x = $('.includeDCheck:checked');
                var courses = [];
                for (let input of x){
                    courses.push(input.value);
                }
                console.log(courses);
                var courseNum = courses.join(',');
                window.location.href = ("http://localhost:8080/addDCourse?courseNum=" + courseNum);
            });
        })
    </script>
    <div style="margin-top: 80px;">
        <h6>Possible Courses:</h6>
        <table class="tab" style="width: 100%">
            <tr>
                <th style="margin-left: 10px">Select</th>
                <th>Dept. Id</th>
                <th>Course Number</th>
                <th>Course Title</th>
                <th></th>
            </tr>

            <th:block th:each="pcourse: ${possibleCourses}">
                <tr>
                    <td style="margin-left: 10px;"><input type="checkbox" class="includeDCheck" th:value="${pcourse.getCourseNumber()}"></td>
                    <td th:text="${pcourse.getDeptId()}"></td>
                    <td th:text="${pcourse.getCourseNumber()}"></td>
                    <td><a th:href="@{'/course?courseNum=' + ${pcourse.getCourseNumber()}}" th:text="${pcourse.getCourseTitle()}" style="text-decoration: none; color: black"></a></td>
                    <td>
                        <a th:href="@{'/deletePCourse?courseNum=' + ${pcourse.getCourseNumber()}}">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <button class="btn btn-outline-primary mb-2 dcourse" style="float: right;margin-top: 10px;" onclick="">Add Designated Courses</button>
    </div>
    <div style="margin-top: 80px;">
        <h6>Designated Courses:</h6>
        <table class="tab" style="width: 100%">
            <tr>
                <th>Dept. Id</th>
                <th>Course Number</th>
                <th>Course Title</th>
                <th></th>
            </tr>

            <th:block th:each="dcourse: ${designatedCourses}">
                <tr>
                    <td th:text="${dcourse.getDeptId()}"></td>
                    <td th:text="${dcourse.getCourseNumber()}"></td>
                    <td><a th:href="@{'/course?courseNum=' + ${dcourse.getCourseNumber()}}" th:text="${dcourse.getCourseTitle()}" style="text-decoration: none; color: black"></a></td>
                    <td>
                        <a th:href="@{'/deleteDCourse?courseNum=' + ${dcourse.getCourseNumber()}}">
                            <button class="btn btn-danger mb-2">Delete</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>